<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fbdb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FBDB">
        <activity
            android:name=".edit_company"
            android:exported="false" />
        <activity
            android:name=".edit_user"
            android:exported="false" />
        <activity
            android:name=".edit_meal"
            android:exported="false" />
        <activity
            android:name=".view_meals"
            android:exported="false" />
        <activity
            android:name=".user_view"
            android:exported="false" />
        <activity
            android:name=".company_view"
            android:exported="false" />
        <activity
            android:name=".meals"
            android:exported="false" />
        <activity
            android:name=".users"
            android:exported="false" />
        <activity
            android:name=".orders"
            android:exported="false" />
        <activity
            android:name=".companies"
            android:exported="false" />
        <activity
            android:name=".credits"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>